/* .card{
    position: relative;
    width: 300px;
    height: 400px;
    color: #a18a96;
    background-image: url("https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/13762670/2021/4/19/4ebdad10-f4c7-4ef2-a30b-6d52b16942541618813125380-Nike-Varsity-Compete-TR-3-Mens-Training-Shoe-565161881312467-1.jpg");
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
} */

.card__content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    background-color: rgb(201, 201, 201);
    border-top-left-radius: 40px;
    transform: translateY(140px);
    transition: transform .25s;
    
}

.card__content::before{
    content: '';
    position: absolute;
color: rgb(201, 201, 201);
    top: -56px;
    right: -12px;
    width: 100px;
    height: 100px;
    transform: rotate(-184deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px;
}

.card__title{
    color: #6A515E;
    line-height: 15px;
}
.card_subtitle{
    width: 250px;
    height: 20px;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 1px;
    overflow: hidden;
  text-overflow: ellipsis;
}
.card__description{
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card__content{
transform: translateY(0);
}

.card:hover .card__description{
    opacity: 1;
    transition-delay: .25s;
}

.btnDiv{
    margin-left: 90px;
    
}

.btn, .btnDiv{
    width: 80px;
}
.btn{
    color: white;
    background-color: black;
    border: none;
    padding: 10px 0px;
    border-radius: 50px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.btnLeft{
    position: absolute;
    left: -500px;
}